@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --highlight: #439288;
}

.header {
  color: #0a233c;
}

.icons {
  font-size: 35px;
}

.icons:hover {
  color: var(--highlight);
}

.hover:hover {
  color: var(--highlight);
}

.highlight {
  color: var(--highlight);
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Ensure the video stays behind other content */
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire container */
}

.button {
  border: 1px solid var(--highlight);
}

.button:hover {
  background-color: var(--highlight);
  color: white;
}

.contact {
  background-color: #0a233c;
}

.inputs {
  background-color: #3c5064;
  border: 2px solid #9ea8b2;
  padding-left: 20px;
}

.inputs::placeholder {
  color: #9ea8b2;
}

.imageHover {
  background-color: var(--highlight);
  color: white;
}
